header.header
  .container.header__container
    .header__top
      .header__text.title-name Kamiak
        span.title-name__doter .
      .header__social
        ul.social
          each item in socials
            li.social__item
              a.social__link(href="http://")
                i(class=`fab ${item}`)
    .header__content
      h1.header__title “Music can change the world”
      a(href="https://www.youtube.com/watch?v=lB6a-iD6ZOY" target="_blank").header__link Watch the video
    .header__scroll
      .header__scroll-text Scroll

