section.life
  .container.life__container
    h2.life__title A few numbers of my life
    - var br = "<br/>"
    .life__slogan Music has no age and no nation, !{br} one day we will leave, but it will remain.
    ul.life__skills
      each item in skills
        li.life__skill
          .life__skill-number= item.number
          .life__skill-text= item.text
    a(href="http://").life__link Read history