section.music
  .container.music__container
    .music__left
      img(src="/assets/img/Music.jpg", alt="")
    .music__right.about
      .about__subtitle.subtitle About me
      h2.about__title.title I am a musician
      .about__slogan “Music has no age and nation”
      .about__descriptons When I was 11 years old, I saw Kurt Cobain singing "Heart-Shaped Box" on MTV and was amazed. Then he seemed to me the most beautiful person in the world. Even at such a young age, I felt his sadness.
      .about__note
        span.about__note-family Kamiak
        span.about__note-field  -  Grammy Winner 2017
      